*{
    margin:0;
    padding:0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: centre;
    position: relative;
}
nav{
    display: flex;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 50px;
    justify-content:space-between ;
    align-items: center;
    background-color: black;
    

}
nav img{
    width: 625px;
    height: 170px;
    
    


}
.nav-links{
    flex: 1;
    text-align: right;
    padding-top: 60px;
    padding-right: 15px;
    
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
  color:#C7AE6A;
    font-size: 19px;
    font-family:'Impact','sans-serif';
    letter-spacing: 2px;
    
}
.nav-links ul li a::before,
.nav-links ul li a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav-links ul li a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #C7AE6A;
  border-right: 3px solid #C7AE6A;
  transform: translate(-100%, 50%);
}

.nav-links ul li a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #C7AE6A;
  border-left: 3px solid #C7AE6A;
  transform: translate(100%, -50%)
}

.nav-links ul li a:hover:before,
.nav-links ul li a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav-links ul li a:hover {
  color: #C7AE6A;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    padding-left: 40px;
    padding-bottom: 500px;
    padding-top: 10px;
}
.rooftop img{
  width: 900px;
  height: 500px;
}

  
 
  